<div *ngIf="issLoading" class="overlay">
<mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
</mat-progress-spinner>
</div>
<div  id='Topdiv'></div>
<div  id='Bottomdiv'></div>
<div class="main-content"  >
<div class="container-fluid">
<div class="row" *ngIf="Entry_View">
<div class="col-xl-12 pl-0 mt-1" >

<div class="profilecard mb-2">
<div class="dt-card__body mt-2 " id="profile"  *ngIf="profile_View" >


<form class="mb-0">
<div class="container-fluidprofile">
<div class="dt-card mt-2">

<h5 style="color: #0740a5;
font-weight: bold;
margin-bottom: 25px;
border-bottom: 1px solid #bfbfbf;
padding-bottom: 7px;font-size: 20px;"><b>RECRUITMENT DETAILS</b></h5>

<div class="dt-card__body mt-3"  >
<div class="form-row  mb-2">

<label class="col-md-1 col-sm-1 col-form-label text-sm-right xwd">Name Of the Event<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>                          
<div class="col-md-4 col-sm-4 mb-1">
    <input type="text" [(ngModel)]="Recruitment_Drives_.Event_Name" name="Recruitment_Drives_.Event_Name" class="form-control" placeholder="">
</div>




<div class="col-md-1 col-sm-1"></div>    
<label class="col-md-1 col-sm-1 col-form-label text-sm-right">Event Date<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>                          
<div class="col-md-4 col-sm-4 mb-1 ">
    <mat-form-field class="col-md-8 form-control date-position mrgn-crct-input-text-div-tre-prt-sles1 mrgn-crct-input-bx-sls-mstr-rspnsv-nw-sctn" style="height: 40px;"
    style="height: 40px !important;padding-top: 0px!important;">
    <input matInput [matDatepicker]="dpdate" placeholder="" name ="Recruitment_Drives_.Date" [(ngModel)]="Recruitment_Drives_.Date" class="form-control" placeholder=""> 
    <mat-datepicker-toggle matSuffix [for]="dpdate"></mat-datepicker-toggle>
    <mat-datepicker #dpdate></mat-datepicker>
    </mat-form-field>
    </div> 

</div> 
<div class="form-row  mb-2">
<label class="col-md-1 col-sm-1 col-form-label text-sm-right">Reporting Time<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>                      
<div class="col-md-4 col-sm-4 mb-1">
<input type="time"  [(ngModel)]="Recruitment_Drives_.Reporting_Time" name="Recruitment_Drives_.Reporting_Time"class="form-control" placeholder=" " >
</div>  

<div class="col-md-1 col-sm-1"></div>

<label class="col-md-1 col-sm-1 col-form-label text-sm-right xwd">Venue<span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>                          
<div class="col-md-4 col-sm-4 mb-1">
<textarea Input rows="5" cols="40"  class="form-control " [(ngModel)]="Recruitment_Drives_.Venue"  name="Recruitment_Drives_.Venue"></textarea>
</div>

</div> 


<div class="form-row  mb-2">
<label class="col-md-1 col-sm-1 col-form-label text-sm-right xwd">Organized Branch <span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span></label>                          
<div class="col-md-4 col-sm-4 mb-1">
        <input type="text" class="form-control" [matAutocomplete]="auto8" name="FollowUp_Branch_" [(ngModel)]="FollowUp_Branch_" (click)="Search_Branch_Typeahead($event)" (keyup)="Search_Branch_Typeahead($event)" (ngModelChange)="Branch_Change()" placeholder=" ">
    </div>
    <mat-autocomplete #auto8="matAutocomplete" [displayWith]="display_Branch">
    <mat-option *ngIf="issLoading"><mat-spinner diameter="500"></mat-spinner></mat-option>
    <ng-container *ngIf="!issLoading">                          
    <mat-option *ngFor="let Branch1 of Followup_Branch_Data" [value]="Branch1">
        <span>{{Branch1.Agent_Name}}</span></mat-option>
     </ng-container>
    </mat-autocomplete>
<div class="col-md-1 col-sm-1"></div>
<label class="col-md-1 col-sm-1 col-form-label text-sm-right">Eligibility Criteria</label>
<div class="col-md-4 col-sm-4 mb-1">
    <textarea Input rows="5" cols="40"  class="form-control " [(ngModel)]="Recruitment_Drives_.Eligibility_Criteria"  name="Recruitment_Drives_.Eligibility_Criteria"></textarea>
</div>                      
</div>


<div class="form-row  mb-2">
<label class="col-md-1 col-sm-1 col-form-label text-sm-right xwd">Additional Information </label>
<div class="col-md-4 col-sm-4 mb-1">
<textarea Input rows="5" cols="40"  class="form-control " [(ngModel)]="Recruitment_Drives_.Additional_Information"  name="Recruitment_Drives_.Additional_Information"></textarea>
</div>

<div class="col-md-1 col-sm-1"></div>
<label class="col-md-1 col-sm-1 col-form-label text-sm-right">Event Status</label>
<div class="col-md-4 col-sm-4 mb-1">
    <select [(ngModel)]="Event_Status_" name="Event_Status_" required class="form-control p-0 pl-1">
        <option *ngFor="let Event_Status_Data_t of Event_Status_Data" [ngValue]="Event_Status_Data_t">{{Event_Status_Data_t.Event_Status_Name}}</option>
        </select></div>

</div>

</div>

<div class="form-row mt-0 mb-0">
<div class="col-md-6 col-sm-6"></div>
<div class="col-md-6 col-sm-6">        
<button class="close-button-style btnflot mr-0" type="submit" (click)="Close_Click()">Close</button>
<button class="save-button-style btnflot"   [hidden]="Recruitment_Drives_Save==false" id="Save_Button" (click)="Save_Recruitment_Drives()" type="submit">Save</button>
</div>
</div>

</div>
</div>
</form>
</div> 

</div>
</div>    
</div>
</div>

<div class="" *ngIf="!Entry_View">

<div class="col-md-12 pl-3 pr-5 mt-1" style="border: 1" *ngIf="isDesktopMenu()">
<div class="dt-card mb-0 pb-1 " >        
<div class="dt-card__body">
<div class="mb-0">          
<div class="form-row">

    <label class="col-md-0 col-sm-0 col-form-label text-sm-right">Date</label>  
    <div class="col-md-0 col-sm-0 mb-1">
    <div _ngcontent-xmy-c9="" class="checkbox-to-crect-sales-search-section">
    <div _ngcontent-xmy-c9="" class="form-check uper-dte-lbel-sales-sctn-new pl-0" >
    <label _ngcontent-xmy-c9="" class="form-check-label">
    <input type='checkbox' class="form-check-input" name="Is_Date" [(ngModel)]="Is_Date"   />
    <span _ngcontent-xmy-c9="" class="form-check-sign"><span _ngcontent-xmy-c9="" class="check">
    </span>
    </span>
    </label>
    </div>
    </div>  
    </div>

    <label class="col-md-0 col-sm-0 col-form-label text-sm-right">From</label>
    <div class="col-md-2 col-sm-2 mb-1 wd_d">
    <mat-form-field class="form-control mrgn-crct-input-text-div-tre-prt-sles1 mrgn-crct-input-bx-sls-mstr-rspnsv-nw-sctn" style="height: 40px;"
    style="height: 40px !important;padding-top: 7px!important;">
        <input matInput [matDatepicker]="dpdate_1" placeholder=""  [(ngModel)]="FromDate_" name="FromDate_">
        <mat-datepicker-toggle matSuffix [for]="dpdate_1"></mat-datepicker-toggle>
        <mat-datepicker #dpdate_1></mat-datepicker>
    </mat-form-field>
    </div>


    <label class="col-md-0 col-sm-0 col-form-label text-sm-right">To</label>
    <div  class="col-md-2 col-sm-2 mb-1 wd_d"><mat-form-field class=" form-control mrgn-crct-input-text-div-tre-prt-sles1 mrgn-crct-input-bx-sls-mstr-rspnsv-nw-sctn" 
    style="height: 40px !important;padding-top: 7px!important;">
    <input matInput [matDatepicker]="dpdate2" placeholder=""  [(ngModel)]="ToDate_" name="ToDate_">
    <mat-datepicker-toggle matSuffix [for]="dpdate2"></mat-datepicker-toggle>
    <mat-datepicker #dpdate2></mat-datepicker>
    </mat-form-field>

</div>

<label class="col-md-0 col-sm-0 col-form-label text-sm-right">Branch</label>
<div class="col-md-3 col-sm-3 mb-1">
    <input type="text" class="form-control" [matAutocomplete]="auto8" name="Search_FollowUp_Branch_" [(ngModel)]="Search_FollowUp_Branch_" (click)="Search_Branch_Typeahead($event)" (keyup)="Search_Branch_Typeahead($event)"  placeholder=" ">
</div>
<mat-autocomplete #auto8="matAutocomplete" [displayWith]="display_Branch">
<mat-option *ngIf="issLoading"><mat-spinner diameter="500"></mat-spinner></mat-option>
<ng-container *ngIf="!issLoading">                          
<mat-option *ngFor="let Branch1 of Followup_Branch_Data" [value]="Branch1">
    <span>{{Branch1.Agent_Name}}</span></mat-option>
 </ng-container>
</mat-autocomplete> 






<div class="col-md-2 ml-1 mb-1" >  
<button (click)="Create_New()" mat-raised-button type="submit"  class="save-button-style pull-right mr-1 ">Create New</button>
<button (click)="Search_Recruitment_Drives()" mat-raised-button type="submit"  class="other-button-style btnflot pull-right mr-1 blue-btn">Search</button>
</div>
</div>
</div>
</div>
</div>        
</div>

<div class="col-md-12 pl-3 pr-5 mt-1" style="border: 1" *ngIf="isDesktopMenu()">
<div class="dt-card mb-0 pb-1 pt-1 pl-1 pr-1" style="background-color: white;" >  

<div class="card-body card-body-for-searchedit-lead-section pb-1 pt-0 pl-1 pr-1" >
<div class="table-responsive" style="overflow-y: scroll;"[style.height.px]="myInnerHeight">
<table class="table table-hover table-for-sale-search-section-diary">
<thead>
<th >Event Name</th>          
<th >Date </th>
<th >Number of Registrations</th>
<th >Venue</th>
<th > Organized by(Branch Name) </th>
<th >Unique Link of the Event</th>
<th > Edit </th>
<th > Delete </th>
</thead>
<tbody  *ngFor="let Recruitment_Drives_Data_d of Recruitment_Drives_Data; let i = index" >
<tr>
<td  class="td-padding">{{Recruitment_Drives_Data_d["Event_Name"]}}</td>
<td  class="td-padding">{{Recruitment_Drives_Data_d["Date"]}}</td>
<td  class="td-padding">{{Recruitment_Drives_Data_d["Number_of_Registrations"]}}</td>
<td  class="td-padding">{{Recruitment_Drives_Data_d["Venue"]}}</td>
<td  class="td-padding">{{Recruitment_Drives_Data_d["Organized_Branch_Name"]}}</td>
<td  class="td-padding">{{Recruitment_Drives_Data_d["Unique_Link"]}}</td>
<td  class="td-padding" >
<span class="icon-background2 mr-1"     (click)="Edit_Recruitment_Drives(Recruitment_Drives_Data_d,i)" > <mat-icon class="text-green small" >edit</mat-icon></span>
</td>
<td class="td-padding"> 
<span class="icon-background3 mr-1"    (click)="Delete_Recruitment_Drives(Recruitment_Drives_Data_d.Recruitment_Drives_Id,i)"  > <mat-icon class="text-red small" >close</mat-icon></span>
</td>
</tr>
</tbody>
</table>
</div>





<div class="row" style="text-align: center">
<div class="col-md-4">
<label class="entry-num">Entries : {{Total_Entries}}</label>
</div>
<div class="col-md-4 buttons-next-previous">
<button
mat-raised-button
type="submit"
(click)="previous_Click()"
class="btn btn-danger change-colour-button buttons-next-previous-edit-portion p-1"
style="background: none"
>
<i
class="fa fa-chevron-left"
aria-hidden="true"
style="color: #5f6368"
></i>
</button>
<button
mat-raised-button
type="submit"
(click)="Next_Click()"
class="btn btn-danger change-colour-button buttons-next-previous-edit-portion p-1"
style="background: none"
>
<i
class="fa fa-chevron-right"
aria-hidden="true"
style="color: #5f6368"
></i>
</button>
</div>
</div>



</div>

</div>
</div>

</div>

</div>

